
$color-oscuro: #1a1a1a;
$color-claro: #f3f3f3;
$color-gris-oscuro: #707070;
$color-gris-claro: #d3d3d3;
$color-facebook: #3B579D;
$color-instagram: #cc2366;
$color-twitter: #2CAAE1;
$color-linkedin: #007BB6;


$padding-borde-logo: 0px 4px;

$font-principal: 'Trispace', sans-serif;



