@import '../../base/extends';
@import '../../base/variables';

section {
    div {
        div {
            .foto-portada {
                width: 100%;
            }
            .texto-portada {
                font-size: medium;
                font-family: 'Trispace', sans-serif;
                letter-spacing: 2px;
                font-weight: bold;
            }
        }  
    }
}
.que-somos-section {   
    background-color: $color-claro; 
    .que-somos-div {
        
        .quienes-somos {
            text-align: center;
            font-weight: bold;
        }
        .quienes-somos-p {
            text-align: center;
        }
    }           
}